<!doctype html>
<html>
<head>
    <title>AKIlert demonstration</title>
    <style type="text/css">
        .h1 {color:rgb(255, 255, 255);}
        .h2 {color: rgb(0,0,0)}
        .header{
            text-align: center;
            background-color: rgb(181, 145, 240);
            color:rgb(255, 255, 255);
            height: 132px;
            line-height: 132px;
        }
        .chart{
            margin-top: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
 
  <div class="header">
      <img src="{{url_for('static', filename='PHM_Natl-Kidney-Mnth_header.jpg')}}" align="left" width="250"/>
      <h1>
          AKIlert: timely prediction of acute kidney injury in ICU patients
      </h1>
  </div>

<body style="background: rgb(256, 256, 256);">
  <h2>Please select a patient</h2>
      <div id="form" class="form"><br>
        <form action="/" method="post">
            <select name="patient">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
         <input type="submit" value="Predict patient's AKI risk">
      </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
