<!doctype html>
<html>
<head>
   <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script> -->
    <title>AKIlert demonstration</title>
    <style type="text/css">
        .h1 {color:rgb(255, 255, 255);}
        .h2 {color: rgb(0,0,0)}
        .header{
            text-align: center;
            background-color: rgb(181, 145, 240);
            color:rgb(255, 255, 255);
            height: 132px;
            line-height: 132px;
        }
        .chart{
            margin-top: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
 
  <div class="header">
      <img src="{{url_for('static', filename='PHM_Natl-Kidney-Mnth_header.jpg')}}" align="left" width="250"/>
      <h1>
          AKIlert: timely prediction of acute kidney injury in ICU patients
      </h1>
  </div>

<body style="background: rgb(256, 256, 256);">
    <h2>Summary</h2>
    Acute kidney injury (AKI) is a sudden failure of kidney function. It is associated with poor patient outcomes and a 
    substantial economic burden. My project addresses the need for a timely alert system, which may help prevent avoidable 
    cases and mitigate the damage of some instances. To accomplish this, I have developed a machine learning model to predict 
    AKI onset 12-36 h in advance. To learn more about the project, please see the 
    <a href="https://github.com/zhakhverdyan/eICU_AKIlert">GitHub</a> repo and 
    <a href="https://docs.google.com/presentation/d/1yu-OwJJLWtCPg1jeSClWu2mdHFdyMTq6Dv6G9M1w348/edit?usp=sharing">slide</a> deck.
    Please select a patient from the drop-down menu and click "Submit." The resulting plot displays the probability of a patient 
    developing AKI in the next 12-36h at each time point. Additionally, the level of Creatinine, a significant indicator for AKI, 
    is plotted. With a normalized probability threshold of 0.5, the model catches half of the positive cases and produces one 
    correct identification for every three positive predictions. Pateints 1-4 have an AKI episode (right after the graphed timeframe), 
    while pateints 5-8 do not.

  <!--<h2>Please select a patient</h2>-->
      <div id="form" class="form"><br>
        <form action="/" method="post">
            <select title=patient name="patient" class="form-control">
              <option value="1" {% if patient == "1" %} selected {% endif %}>Patient 1</option>
              <option value="2" {% if patient == "2" %} selected {% endif %}>Patient 2</option>
              <option value="3" {% if patient == "3" %} selected {% endif %}>Patient 3</option>
              <option value="4" {% if patient == "4" %} selected {% endif %}>Patient 4</option>
              <option value="5" {% if patient == "5" %} selected {% endif %}>Patient 5</option>
              <option value="6" {% if patient == "6" %} selected {% endif %}>Patient 6</option>
              <option value="7" {% if patient == "7" %} selected {% endif %}>Patient 7</option>
              <option value="8" {% if patient == "8" %} selected {% endif %}>Patient 8</option>
            </select>
         <input type="submit" value="Submit">
      </form>

   <br>

 </div>
</p>
</div>
<div id="chart" class="chart">
</div>

</body>
<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>

<script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{}) ;      

</script>

</html>
