<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment Tutorial 1</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #ffffff;">
 <div class="features">
	<h1>Fill out the patient form</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="number" name="WBC x 1000" placeholder="WBC x 1000" required="required" />
      <input type="number" name="bicarbonate" placeholder="bicarbonate" required="required" />
      <input type="number" name="chloride" placeholder="chloride" required="required" />
      <input type="number" name="creatinine" placeholder="creatinine" required="required" />
      <input type="number" name="platelets x 1000" placeholder="platelets x 1000" required="required" />
      <input type="number" name="potassium" placeholder="potassium" required="required" />
      <input type="number" name="sodium" placeholder="sodium" required="required" />
      <input type="number" name="age" placeholder="age" required="required" />
      <input type="number" name="unitvisitnumber" placeholder="unitvisitnumber" required="required" />

      <label for="sex">sex</label>
       <select id="sex" name="sex">
        <option value="Female">Female</option>
        <option value="Male">Male</option>
       </select>

       <label for="ethnicity">ethnicity</label>
       <select id="ethnicity" name="ethnicity">
        <option value="African American">African American</option>
        <option value="Asian">Asian</option>
        <option value="Caucasian">Caucasian</option>
        <option value="Hispanic">Hispanic</option>
        <option value="Native American">Native American</option>
        <option value="Other/Unknown">Other/Unknown</option>
       </select>

       <label for="unittype">unittype</label>
       <select id="unittype" name="unittype">
        <option value="CCU-CTICU">CCU-CTICU</option>
        <option value="CTICU">CTICU</option>
        <option value="Med-Surg ICU">Med-Surg ICU</option>
        <option value="MICU">MICU</option>
        <option value="Neuro ICU">Neuro ICU</option>
        <option value="SICU">Other/Unknown</option>
       </select>

       <label for="unitadmitsource">unitadmitsource</label>
       <select id="unitadmitsource" name="unitadmitsource">
        <option value="Direct Admit">Direct Admit</option>
        <option value="Emergency Department">Emergency Department</option>
        <option value="Floor">Floor</option>
        <option value="ICU to SDU">ICU to SDU</option>
        <option value="Operating Room">Operating Room</option>
        <option value="Other Hospital">Other Hospital</option>
        <option value="Other ICU">Other ICU</option>
        <option value="Recovery Room">Recovery Room</option>
        <option value="Step-Down Unit (SDU)">Step-Down Unit (SDU)</option>
       </select>

      


      <button type="submit" class="btn btn-primary btn-block btn-large">Predict patient's AKI risk</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
